@use "_variables.scss";

body{
    font-family: "Rubik", sans-serif;
    background-color: var($color-bg);
}
.div-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-meio{
    color: var($color-yellow);
}
h1, h2 {
    text-align: left;
}