@use "variables.scss";

body{
    font-family: "Rubik", sans-serif;
    background-color: variables.$color-bg;
}
.div-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-meio{
    color: var($color-bg);
}